.role-1, .role-2{
    display: flex;
    align-items: center;
}

.role-description{
    display: none;
}

#open {
    display: none;
}

#close{
    display: block;
}

.symbol:hover{
    color: blueviolet;
}

.resume-request{
    font-size: larger;
}

.resume-request span, .end-text span{
    color: #e94e3b;
}

.footer{
    height: 200px;
    background-color: black;
}