.col-12 img{
    width: 100%;
    height: 500px;
}


.feedback-outer{
    border-top: 2px solid gray;
}

.feedback-ver-line{
    margin-left: 100px;
    height: 60px;
    background-color: transparent;
    border-left: 2px solid gray;
}

.feedback-details{
    display: flex;
}



.feedback-image{
    margin-left: 60px;
    height: 80px;
    width: 80px;
    border-radius: 40px;
}
.feedback-image img{
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.carousel{
    width: 100%;
}

.carousel-item{
    width: 100%;
    height: 500px;
    background-color: transparent;
}